/* Google font, alt family-name, alt family-name, alt generic-family */
body {
    font-family: 'Montserrat', Helvetica, Arial, sans-serif;
}

/* Img is 1200px
setting top&bottom to 0 and left&right to auto center */
.container {
    width: 1200px;
    margin: 0 auto;
}

/* Setting html elements up
bolder = 700 */

h1, h2, h3, h4 {
    color: black;
    text-transform: uppercase;
    font-weight: 700;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 12px;
}

p {
    font-size: 14px;
    line-height: 21px;
    padding: 0 30px;

}

/* HEADER */
/* header section "title, nav and border */

header {
	height: 110px;
	border-bottom: 3px solid #77a466;
	margin: 0 auto;
}

/* rogue pickings top/botom = 76 px + 30px text size + 3px border */
header h1 {
	float: left;
	margin: 0;
	padding: 38px 0;
}

header h1 span {
    color: #77a466;
}

header nav {
	float: right;
	padding: 46px 0;
}

header nav ul {
	margin: 0;
	padding: 0;
}

header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	padding: 0 10px;
	display: inline;
}

header nav ul li a{
	text-decoration: none;
	color:#77a466;
}
/* top section = image, welcome, p
bottom section = 3 sections
will be floating */
.top-section,
.bottom-section {
	margin: 0 auto;
	clear: both;
}

.main-image {
	height: auto;
	float: left;
}
.main-image img {
	border-bottom: 3px solid #77a466;
}

.main-title {
	height: auto;
	float: left;
}
.main-title h3 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 16px;
	line-height: 25px;
}

/* 399px each section as middle section has 1px border left/right side
each section has top/bottom border
 */
.section-one,
.section-two,
.section-three {
	width: 399px;
	height: auto;
	float: left;
	border-top: 1px solid #eee;
}

/* section one no left/right padding */
.section-one h4 {
	padding: 10px 0;
}

/* middle section has left/right border */
.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h4,
.section-three h4 {
	padding: 10px 30px;
}

/* ul: remove list dots, list section has no padding */
.menu {
	list-style: none;
	padding: 0;
}
/* list items have padding and diff color */
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 16px;
	line-height: 21px;
}

.address {
	font-size: 16px;
	line-height: 24px;
}

footer {
	height: 50px;
	border-top: 3px solid #eee;
	margin: 0 auto;
	clear: both;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 14px;
}
